.formWrapper {
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
}

.formFieldsWrapper {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.footerText {
	text-align: center;
	margin-top: 1rem;
}

.link {
	position: relative;
	color: var(--color-primary);
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
	font-style: italic;
}

.link::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 0%;
	bottom: -1px;
	background-color: var(--color-primary);
	display: inline-block;
	transition: width 0.3s ease;
}

.link:hover::before {
	width: 100%;
}
