.sectionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--chakra-colors-text-contrast);
}

.sectionControls {
	display: flex;
	gap: var(--spacing-4);
}

.select {
	width: 15rem;
}
