@import url(./fonts.css);
@import url(./reset.css);

html {
	font-size: 16px;
}

@media (max-width: 480px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 1920px) {
	html {
		font-size: 20px;
	}
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-heading);
}

* {
	transition-property: background-color, color, border-color, box-shadow;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

button:focus,
a:focus,
input:focus,
select:focus {
	outline: none;
}
