.headerProfileWrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: 1;
	width: var(--spacing-12);
	height: var(--spacing-12);
	background-color: var(--color-surface);
	border-radius: var(--radius-rounded);
	color: var(--color-text-primary);
	cursor: pointer;
}

.modal {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);

	text-align: left;
	position: absolute;
	top: var(--spacing-24);
	right: 0;

	opacity: 0;
	visibility: hidden;
	transform: scaleY(0);
	transform-origin: top right;

	z-index: 1;
	background-color: var(--color-primary);
	color: var(--color-text-primary);
	border-radius: var(--radius-md);
	/* border-top-right-radius: 0; */
	padding: var(--spacing-8) var(--spacing-12);

	min-width: 500px;

	transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.modalOpen {
	opacity: 1;
	visibility: visible;
	transform: scaleY(1);
}

.subtitle {
	font-size: var(--font-size-md);
}

.actions {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-4);
}

.userActions {
	display: flex;
	gap: var(--spacing-4);
}

.authBlock {
	display: flex;
	align-items: center;
	gap: var(--spacing-3);
}

@media screen and (max-width: 768px) {
	.headerProfileWrapper {
		display: none;
	}
}
