.root {
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
	font-weight: 400;
	height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.15);
}

.logoWrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logoImage {
	width: 4rem;
	height: 4rem;
}

.logoTitle {
	margin: 0;
	font-size: 2.5rem;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.controls {
	display: flex;
	gap: 1.25rem;
	align-items: center;
}

.searchIcon {
	width: 1.5rem;
	height: 1.5rem;
}

@media screen and (max-width: 768px) {
	.logoImage {
		width: 3rem;
		height: 3rem;
	}
	.logoTitle {
		display: none;
	}
}
@media screen and (max-width: 425px) {
	.root {
		height: auto;
	}
}
