.root {
	background-color: var(--color-primary);
	padding: var(--spacing-4) var(--spacing-6);
	font-size: var(--font-size-lg);
	font-weight: 400;
	height: var(--spacing-24);

	display: flex;
	justify-content: space-between;
	align-items: center;

	box-shadow: var(--shadow-lg);
}

.logoWrapper {
	display: flex;
	align-items: center;
	gap: var(--spacing-4);
}

.logoImage {
	width: var(--size-logo);
	height: var(--size-logo);
}

.logoTitle {
	margin: 0;
	color: var(--color-text-primary);
	font-size: var(--spacing-12);
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.controls {
	display: flex;
	gap: var(--spacing-5);
	align-items: center;
}

.searchIcon {
	width: 1.5rem;
	height: 1.5rem;
}

@media screen and (max-width: 768px) {
	.logoImage {
		width: var(--size-logoMobile);
		height: var(--size-logoMobile);
	}
	.logoTitle {
		display: none;
	}
	.controls {
		gap: var(--spacing-3);
	}
}
@media screen and (max-width: 425px) {
	.root {
		padding: var(--spacing-3) var(--spacing-3);
		height: auto;
	}
}
