.footerWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	padding: var(--spacing-4) var(--spacing-6);
	height: var(--spacing-24);
}

.logoWrapper {
	display: flex;
	align-items: center;
	gap: var(--spacing-4);
}

.logoImage {
	width: var(--size-logo);
	height: var(--size-logo);
}

.logoTitle {
	margin: 0;
	color: var(--color-text-primary);
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
	.logoImage {
		width: var(--size-logoMobile);
		height: var(--size-logoMobile);
	}

	.logoTitle {
		font-size: var(--font-size-xl);
	}
}

@media screen and (max-width: 425px) {
	.footerWrapper {
		padding: var(--spacing-3) var(--spacing-3);
		height: auto;
	}
}
