.heroWrapper {
	flex: 1;
	position: relative;
	background-image: url('/hero/hero-bg.webp');
	background-blend-mode: normal;
	background-size: cover;
	background-position: 0% 85%;
}

html[data-theme='dark'] .heroWrapper {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
		url('/hero/hero-bg.webp');

	background-blend-mode: overlay;
}

.contentWrapper {
	padding-top: var(--spacing-24);
	padding-left: var(--spacing-32);
	padding-right: var(--spacing-12);
	padding-bottom: var(--spacing-12);
	color: var(--color-text-primary);
}

.title {
	font-size: var(--font-size-title);
	font-weight: 700;
	margin-bottom: var(--spacing-10);
}

.subtitle {
	font-size: var(--font-size-subtitle);
	font-weight: 700;
	margin-bottom: var(--spacing-10);
}

.description {
	font-size: var(--font-size-2xl);
	font-weight: 700;
	margin-bottom: var(--spacing-24);
}

.button {
	margin-bottom: var(--spacing-24);
}

@media screen and (max-width: 1024px) {
	.contentWrapper {
		padding-top: var(--spacing-12);
		padding-left: var(--spacing-16);
		padding-right: var(--spacing-12);
		padding-bottom: var(--spacing-12);
	}

	.title {
		font-size: var(--font-size-3xl);
		margin-bottom: var(--spacing-6);
	}

	.subtitle {
		font-size: var(--font-size-2xl);
		margin-bottom: var(--spacing-6);
	}

	.description {
		font-size: var(--font-size-xl);
		margin-bottom: var(--spacing-12);
	}

	.button {
		margin-bottom: var(--spacing-12);
	}
}
@media screen and (max-width: 768px) {
	.contentWrapper {
		padding: var(--spacing-14);
	}
}
@media screen and (max-width: 425px) {
	.contentWrapper {
		padding: var(--spacing-10);
	}
}
