.heroWrapper {
	flex: 1;
	position: relative;
	background-image: url('/hero/hero-bg.webp');
	background-blend-mode: normal;
	background-size: cover;
	background-position: 0% 85%;
	margin: calc(-1 * 4rem) calc(-1 * 2.5rem);
}

html[data-theme='dark'] .heroWrapper {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
		url('/hero/hero-bg.webp');

	background-blend-mode: overlay;
}

.contentWrapper {
	padding-top: 6rem;
	padding-left: 8rem;
	padding-right: 2.5rem;
	padding-bottom: 2.5rem;
}

.title {
	font-size: 6rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.subtitle {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.description {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 4rem;
}

.button {
	margin-bottom: 4rem;
}

@media screen and (max-width: 1024px) {
	.contentWrapper {
		padding-top: 2.5rem;
		padding-left: 4rem;
		padding-right: 2.5rem;
		padding-bottom: 2.5rem;
	}

	.title {
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}

	.subtitle {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}

	.description {
		font-size: 1rem;
		margin-bottom: 2.5rem;
	}

	.button {
		margin-bottom: 2.5rem;
	}
}
@media screen and (max-width: 768px) {
	.contentWrapper {
		padding: 3rem;
	}
}
@media screen and (max-width: 425px) {
	.contentWrapper {
		padding: 2rem;
	}
}
